@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

.App {
  font-family: 'Fraunces';
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.product-image img {
  width: 300px;
  height: 430px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.product-image-mobile img {
  display: none;
}

.body {
  display: flex;
  height: 430px;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  width: 580px;
  border-radius: 15px;
}

.pre-head {
  font-family: 'Montserrat';
  letter-spacing: 4px;
  opacity: 90%;
  font-size: 14px;
  margin-top: 25px;
  color: gray;
}

.head {
  font-size: 28px;
  font-weight: 700;
  margin-top: 25px;
}

.text-content {
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-description {
  font-family: 'Montserrat';
  font-size: 12px;
  margin-top: 20px;
  color: gray;
  opacity: 90%;
}

.price-tags {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.discounted-price-tag {
  font-size: 28px;
  color: hsl(158, 36%, 37%);
}

.original-price-tag {
  color: gray;
  margin-left: 20px;
  font-family: 'Montserrat';
  font-size: 12px;
  text-decoration: line-through;
}

.add-to-cart-button {
  margin-top: 25px;
  font-family: 'Montserrat';
  font-weight: 500;
  background-color: hsl(158, 36%, 37%);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.add-to-cart-button img {
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  /* hide the desktop image and display mobile img */
  .product-image img {
    display: none;
  }
  .product-image-mobile img {
    display: inline;
    width: 320px;
    height: 240px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .body {
    flex-direction: column;
    width: 320px;
    height: 590px;
  }

  .pre-head {
    margin-top: 0px;
  }

  .head {
    margin-top: 5px;
  }
}